In [1]:
x=5

In [2]:
x

5

In [3]:
y=8 #case sentive

In [4]:
Y

NameError: name 'Y' is not defined

In [5]:
y

8

In [6]:
#assign values in same line
x,y = (1,2)

In [7]:
x,y

(1, 2)

In [8]:
x=20

In [9]:
x

20

In [10]:
print(x)

20

In [11]:
x=45

In [12]:
type(x)

int

In [13]:
type(-8)

int

In [14]:
c=7.3
type(c)

float

In [15]:

s="anand"

In [16]:
s

'anand'

In [17]:
ss='Anand'

In [18]:
ss

'Anand'

In [19]:
print(s) #it remove the -->  ' '

anand

In [20]:
print(ss)

Anand

In [23]:
y=(56 + "Dollars")
y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
#so we convert 56 in to string
y=(str(56) + "Dollar")
print(y)

56Dollar

In [24]:
print("I am 'fine'")

I am 'fine'

In [25]:
print('I'm fine')

SyntaxError: invalid syntax (678320842.py, line 1)

In [27]:
#here we use blackslash which is known as ESCape Squence
print('I\'m fine')

I'm fine

In [35]:
print(r"I 'm fine") #raw string

I 'm fine

In [36]:
print('Red' + 'Car')

RedCar

In [39]:

print('Red' , 'car')

Red car

In [40]:
print("Aren't you hungry?")

Aren't you hungry?

# Reassign the values

In [41]:
z=1
z

1

In [42]:
z=3
z

3

# Indentation

In [44]:
def add(a,b):
    return a+b #use TAB for proper indentation
print(add(2,3))

5

# IF statements

In [45]:
if 18>23:
    print("YES")
else:
    print("OOOO")

OOOO

In [46]:
a=int(input("Enter the number"))
print(a+3)

Enter the number3
6

# Functions

In [49]:
# def is the keyword to define the function
def add(): #without parameter
    print("ADD function")

In [50]:
#call the function
add()

ADD function

In [51]:
def sub(a,b):
    return a-b

In [52]:
sub(45,5)

40

In [55]:
def mult(a,b):
    res = a*b
    return res

In [56]:
mult(3,4)

12

In [57]:
def mult(a,b):
    res = a*b
    print(res)

In [58]:
mult(4,5)

20

# Using function inside the function

In [63]:
def wage(hours):
    return hours * 25 #50

def bonus(hours):
    return wage(hours) + 50  #

In [66]:
wage(8), bonus(8)

(200, 250)

In [68]:
wage(2), bonus(4)

(50, 150)

name,age = ("Enter name and age").split(",")

In [7]:
name,age = input(("Enter name and age")).split(",")
print(name, str(age))

Enter name and ageAnand,23
Anand 23