In [1]:
import pandas as pd

# Dataframe is a combination of series

In [2]:
df = pd.read_csv("Sales-products.csv")
df

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
1,SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
2,SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
3,SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
4,SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710
...,...,...,...,...,...,...,...,...,...,...,...,...
1271,SaleID_1272,Spain,Sales visit,Outdoors Shop,Personal Accessories,Rope,Husky Rope 60,2020.0,Q3 2020,30916.50,173.0,0.298114
1272,SaleID_1273,Spain,Sales visit,Outdoors Shop,Outdoor Protection,Climbing Accessories,Firefly Climbing Lamp,2020.0,Q3 2020,7536.29,193.0,0.445287
1273,SaleID_1274,Spain,Sales visit,Outdoors Shop,Personal Accessories,Climbing Accessories,Firefly Charger,2020.0,Q3 2020,12306.48,238.0,0.568420
1274,SaleID_1275,Spain,Sales visit,Outdoors Shop,Personal Accessories,Tools,Granite Axe,2020.0,Q3 2020,56499.00,1472.0,0.490667
1275,SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.00,1178.0,0.386895

In [3]:
df.head()

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
1,SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
2,SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
3,SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
4,SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710

# Construct dataframes in a professional way

In [4]:
df1 = pd.DataFrame(data = [['ProductA',223], ['ProductB',234], ['ProductC',456]],
                  columns = ['ProductName', 'ProductPrice'],
                  index = ['A','B','C'])
df1

  ProductName  ProductPrice
A    ProductA           223
B    ProductB           234
C    ProductC           456

In [5]:
df['Revenue'].max()

944436.75

In [6]:
name = "priya"

In [7]:
print(name)

priya

In [8]:
import numpy as np

In [9]:
arr = np.array([1,2])
arr

array([1, 2])

In [10]:
print(arr)

[1 2]

# import text file in python

In [11]:
filename = "E:/desktop/HCL/sample.txt"  #use forward slash
filename

'E:/desktop/HCL/sample.txt'

here now we will open the file through file function
giving the paramneter(file name , mode(which means in which mode i need to open the file,-> only for reading,only for writing,only for reading and writing))

In [12]:
file = open(filename, mode = 'r')

In [13]:
file

In [14]:
file.read()

'Hi my name is Anand.\n'

In [15]:
file.close()

In [16]:
file.read()

ValueError: I/O operation on closed file.

write a text in a text file(sample1.txt)

In [ ]:
with open('E:/desktop/HCL/sample1.txt' , 'w') as out_file:
    out_file.write("This is new sample file")

In [ ]:
print(out_file)

line already written in newly created file but to see it we use read mode

In [ ]:
with open('E:/desktop/HCL/sample1.txt' , 'r') as out_file:
    new_text = out_file.read()

In [ ]:
print(new_text)

In [ ]:
#with is used to close the connection or close the text file after we used it

In [ ]:
df1 = pd.read_csv("Sales-products.csv" , index_col = "SaleID")
df1

In [ ]:
df

# using np.loadtxt() and np.genfromtext()

In [ ]:
import numpy as np

In [ ]:
sales = np.loadtxt("Lending-Company-Numeric-Data.csv", delimiter = ",")
sales

In [ ]:
sales1 = np.genfromtxt("Lending-Company-Numeric-Data.csv", delimiter = ",")
sales1

In [ ]:
sales1 = np.genfromtxt("Lending-Company-Numeric-Data.csv", delimiter = ",", skip_header = 4) #skip_header = 4 should remove the first 4 line
sales1

to import coulmns which we need

In [ ]:
df1

In [ ]:
df1 = pd.read_csv('Sales-products.csv' , usecols = (1,2) )
df1.head()

In [ ]:
df1 = pd.read_csv("Sales-products.csv", usecols = ['OrderMethod','RetailerType'])
df1

In [ ]:
df2 = pd.read_csv("Lending-Company-Saving.csv")

In [ ]:
df2

In [ ]:
df2.squeeze("columns")

In [ ]:
sales2 = np.genfromtxt("Lending-Company-Numeric-Data.csv",
                       delimiter = ",",
                       dtype = str) 
sales2

# saving data with numpy

In [ ]:
data = np.save("numpy-data1",sales2) # we take two argyments i.e filename and varaible in whcih data is stored

In [ ]:
data

In [ ]:
texts = np.load("numpy-data1.npy")

In [ ]:
print(texts)

In [ ]:
np.savetxt("numpy-data3.txt",sales2, fmt = '%s',delimiter=',')

In [ ]:
loading = np.genfromtxt("numpy-data3.txt",delimiter = ",",
                       dtype = str)
laoding