# FOR LOOP

In [1]:
num = list(range(1,11))

In [2]:
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
for n in num:
    #print (n)
    print (n, end = " ")

1 2 3 4 5 6 7 8 9 10

# create list with range

In [8]:
num = list(range(1,11,1))
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
num = list(range(1,11,2))
num

[1, 3, 5, 7, 9]

In [11]:
def count(num):
    t=0
    for i in num:
        if i < 20:
            t=t+1
    return t

In [12]:
list = [1,2,3,4,56,67,23,11]

In [13]:
count(list)

5